.port
{
    font-family: 'Gloria Hallelujah', cursive;
    color:black;
}
.imgWrap:hover
{


}
.smile
{

}

@media screen and (max-width: 739px) {
    .smile {
        visibility: hidden;
    }
}
.devil{

 }
@media screen and (min-width: 739px) {
    .devil {
        visibility: hidden;
    }
}
body {
    background-color:dodgerblue;
}
.foot{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#4682B4;
}