.port
{
    font-family: 'Gloria Hallelujah', cursive;
    color:black;
}
.imgWrap:hover
{


}
.smile
{

}

@media screen and (max-width: 899px) {
    .smile {
        visibility: hidden;
    }
}
.devil{

 }
@media screen and (min-width: 899px) {
    .devil {
        visibility: hidden;
    }
}
body {
    background-color:dodgerblue;
}