.mydiv
{
    width: 200px;
    height: 100px;
    background-color: darkblue;
    animation-name:movement;
    animation-duration:5s;
    position: relative;

}
@keyframes movement {
    1% {background-color: red; left:1200px; top:0px;}
    50% {background-color: coral; left:0px; top:50px;}
    100%{background-color:green; left:100px; top:0px;}
}
.mydiv
{
    background-color:gold;
    animation-name:hovermove;
    animation-duration:5s;
}
@keyframes hovermove
{
    25% {backgound-color:purple; left:200px; top:0px}
    75% {background-color:black; left:500px; top:100px;}
    100% {backgound-color:red; left:0px; top:200px}
}
.spin{
    background:red;
    width:150px;
    height:10px;
    animation:spin 2s linear infinite;
}
.flex-container {
    padding: 0;
    marign: 0;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex-item {
    background: green;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}
.size
{

    font-size:100px;
}