body {
    background-color:dodgerblue;
}
:valid{
backgound:green;
}
lable:hover{
    color:red;
    opacity: 10;
}
label:hover{
border:dotted;
    color:darkred;
}
.email{
    align-content: right;
}
.eml:hover{
    border:dotted;
    border-color: darkred;
    color:darkred;
}
.size
{
width: 1000px;
}